# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Rinifisu
*.sdf
*.website
!GameProject/data/*.obj
Debug/
Release/
GameProject/Debug/
GameProject/Release/
GLLibrary/Debug/
GLLibrary/Release/